<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vuejs-2.5.16.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="msg">
    <hr>
    <input type="text" v-model="user.name">
    <input type="text" v-model="user.age">
</div>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            msg:"aaa",
            user:{name:"李四",age:20}
        },
        watch:{
            msg(newVal,oldVal){
                console.log("新:"+newVal,"旧:"+oldVal)
            },
            user:{
              //开启深度监控
              deep:true,
              handler(newUser){
                  console.log(newUser.name,newUser.age)
              }
            }
        }
    })
</script>
</body>
</html>